[Desktop Entry]
Type=Application
Name=Eyesight
GenericName=Image Viewer
Comment=Browse and rotate images
Exec=eyesight %U
TryExec=eyesight
Icon=applications-graphics
Terminal=false
StartupNotify=true
Categories=X-Hawaii;Qt;Graphics;2DGraphics;RasterGraphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/tiff;image/x-portable-anybitmap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/webp;
Keywords=Picture;Slideshow;Graphics;
X-Hawaii-BugTracker=https://github.com/hawaii-desktop/eyesight/issues
X-Hawaii-BugTracker-NewIssue=https://github.com/hawaii-desktop/eyesight/issues/new


# Translations
Comment[it]=Mostra e ruota immagini
GenericName[it]=Visualizzatore di immagini
Name[it]=Eyesight
Icon[it]=eyesight
