[Desktop Entry]
Type=Application
Name=Eyesight
GenericName=Image Viewer
GenericName[it]=Visualizzatore di immagini
Comment=Browse and rotate images
Comment[it]=Visualizzazione e rotazione delle immagini
Exec=eyesight %U
TryExec=eyesight
Icon=eyesight
Terminal=false
StartupNotify=true
Categories=Hawaii;Qt;Graphics;2DGraphics;RasterGraphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/tiff;image/x-portable-anybitmap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;imaqe/x-xpixrnap;image/webp;
Keywords=Picture;Slideshow;Graphics;
Keywords[ar]=صورة;رسوميات;عرض شرائح;
Keywords[as]=ছবি;স্লাইডশ্ব;গ্ৰাফিক্স;
Keywords[be]=Выява;Слайдшоу;Графіка;
Keywords[bg]=Изображение;Снимка;Графика;Картина;Разглеждане;Прожекция;Picture;Slideshow;Graphics;
Keywords[ca]=Fotografia;Diapositives;Gràfics;
Keywords[ca@valencia]=Fotografia;Diapositives;Gràfics;
Keywords[cs]=obrázek;fotka;promítání snímků;grafika;
Keywords[da]=Billede;Foto;Fotografi;Præsentation;Slideshow;Grafik;
Keywords[de]=Bild;Diaschau;Diashow;Grafik;
Keywords[el]=Εικόνα;Προβολή σε αλληλουχία;Γραφικά;
Keywords[en_GB]=Picture;Slideshow;Graphics;
Keywords[eo]=Bildo;Lumbildprezentado;Grafiko;
Keywords[es]=Foto;Diapositivas;Gráficos;
Keywords[et]=Pilt;Foto;Slaidiesitlus;Graafika;
Keywords[eu]=Argazkia;diapositiba-aurkezpena;Grafikoak;
Keywords[fa]=عکس;نمایش اسلایدی;گرافیک;
Keywords[fi]=Kuva;Kuvaesitys;Grafiikka;
Keywords[fr]=Image;Diaporama;Graphiques;Photographie;
Keywords[gl]=Foto;Diapositivas;Gráficos;
Keywords[gu]=ચિત્ર;સ્લાઇડ શો;ગ્રાફિક;
Keywords[he]=תמונה;מצגת;גרפיקה;
Keywords[hu]=Kép;Diavetítés;Grafika;Bemutató;
Keywords[id]=Gambar;Slideshow;Grafis;
Keywords[it]=Immagini;Diapositive;Grafica;
Keywords[ja]=Picture;Slideshow;Graphics;写真;画像;スライドショー;グラフィックス;
Keywords[km]=ការ<U+200B>បញ្ចាំង<U+200B>ស្លាយ;
Keywords[ko]=Picture;Slideshow;Graphics;그림;사진;이미지;슬라이드;그래픽;
Keywords[lt]=Paveikslėlis;Demonstracija;Skaidrės;Grafika;
Keywords[lv]=Attēli;Bildes;Slīdrāde;Slaidrāde;Grafika;Fotogrāfijas;Picture;Slideshow;Graphics;
Keywords[ml]=ചിത്രം;സ്ലൈഡ്ഷോ;ഗ്രാഫിക്സ്;
Keywords[nb]=Bilde;Lysbilder;Grafikk;
Keywords[nl]=Afbeelding;Presentatie;Grafisch;Plaatje;
Keywords[pa]=ਤਸਵੀਰ;ਫੋਟੋ,ਸਲਾਈਡ-ਸ਼ੋ;ਗਰਾਫਿਕਸ;
Keywords[pl]=Obraz;Obrazek;Pokaz;slajdów;Grafika;
Keywords[pt]=Imagem;Apresentação;Gráficos;
Keywords[pt_BR]=Fotos;Apresentação de slides;Gráficos;
Keywords[ru]=Изображение;Слайд-шоу;Графика;
Keywords[sl]=Slike;Predstavitev;Grafika;Fotografije;
Keywords[sr]=Слика;Покретни приказ;Графика;
Keywords[sr@latin]=Slika;Pokretni prikaz;Grafika;
Keywords[sv]=Bild;Bildspel;Grafik;
Keywords[ta]=படங்கள்;லைட்ஷோ;வரகலை;
Keywords[te]=చిత్రం;పలకప్రదర్శన;చిత్రరూపాలు;
Keywords[th]=รูป;ภาพ;สไลด์;กราฟิกส์;
Keywords[tr]=Resim;Slayt Gösterisi;Grafikler;Görseller;
Keywords[uk]=Малюнок;Слайд;Графіки;
Keywords[vi]=Picture;Hình;ảnh;Hinh;Anh;Slideshow;Trình;diễn;Trinh;Dien;Graphics;Đồ;hoạ;họa;Do;Hoa;
Keywords[zh_CN]=Picture;Slideshow;Graphics;图片;幻灯片;图像;
Keywords[zh_HK]=Picture;Slideshow;Graphics;照片;投影片;影像;
Keywords[zh_TW]=Picture;Slideshow;Graphics;照片;投影片;影像;
X-Hawaii-BugTracker=https://github.com/hawaii-desktop/eyesight/issues
X-Hawaii-BugTracker-NewIssue=https://github.com/hawaii-desktop/eyesight/issues/new
