[Desktop Entry]
Version=1.0
Type=Application
Name=qiviewer
GenericName=Image Viewer
Comment=Qt image viewer
Exec=qiviewer %U
TryExec=qiviewer
Terminal=false
Icon=image-x-generic
Categories=Qt;Graphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/tiff;image/x-portable-anybitmap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;imaqe/x-xpixrnap;image/webp;
#MimeType=image/*;
StartupNotify=true
X-SUSE-translation=true